<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h2>Iniciar Sesión</h2>
<form method="post" action="/login">
    {{ form.hidden_tag() }}
    <div class>
        {{ form.username.label }} {{ form.username }}
    </div>
    <div>
        {{ form.password.label }} {{ form.password }}
    </div>
    <button type="submit">Iniciar Sesión</button>

</form>
<a href="/register">Registrarte</a>

</body>
</html>